[Desktop Entry]
Comment=Plasma theme inspired by the best era of design - Light Text Dark Background
Name=Pelican
X-KDE-PluginInfo-Author=hoff.industries
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=theworldisyours@mailbox.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Pelican
X-KDE-PluginInfo-Version=0.75.22
X-KDE-PluginInfo-Website=
X-Plasma-API=5.13+
